## Extract and Tranform:
### Extracción y transformación de datos climáticos de Argentina (1991-2020)

In [1]:
import pandas as pd
import numpy as np

Se cargan los datasets de interés: estaciones_smn y estadisticas_normales_datos_abiertos_1991-2020 para su depuración.

estaciones_smn

In [4]:
estaciones_smn = pd.read_fwf(r'C:\Users\icrui\Documents\DS-ML\proy_etl_clim_arg\data\estaciones_smn.txt')

In [5]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m],NRO,NroOACI
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256 89034,SAYB,NaN
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11 89053,SAYJ,NaN
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24 88963,SAYE,NaN
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198 89055,SAWB,NaN
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12 88968,SAYO,NaN

De estaciones_smn solo se seleccionan las columnas más relevantes.

In [7]:
estaciones_smn = estaciones_smn[['NOMBRE', 'PROVINCIA', '[lat_gr]', '[lat_min]', '[lon_gr]', '[lon_min]', '[altura_m]']]

In [8]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m]
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256 89034
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11 89053
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24 88963
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198 89055
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12 88968

Se corrige la última columna que se exportó combinada con otra que no se utilizará.

In [10]:
estaciones_smn.loc[:, '[altura_m]'] = estaciones_smn['[altura_m]'].astype(str)

In [11]:
estaciones_smn.loc[:, '[altura_m]'] = estaciones_smn['[altura_m]'].str[:-5]

In [12]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m]
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12

Estadisticas_normales_Datos_abiertos_1991-2020

In [14]:
estad_norm_1991_2020 = pd.read_excel(r'C:\Users\icrui\Documents\DS-ML\proy_etl_clim_arg\data\Estadísticas_normales_Datos_abiertos _1991-2020.xlsx', skiprows=4)

In [15]:
estad_norm_1991_2020.head()

,Estación,Valor Medio de,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,LA QUIACA OBSERVATORIO,Temperatura (°C),13.2,13,12.8,11.3,7.3,4.8,4.5,7,10,12.4,13.4,13.9
1,LA QUIACA OBSERVATORIO,Temperatura máxima (°C),20.6,20.4,20.6,20.3,17.8,16.3,16.1,18,20,21.7,22.5,22.2
2,LA QUIACA OBSERVATORIO,Temperatura mínima (°C),7.7,7.6,6.6,3.1,-2.5,-5.7,-6.2,-4,-0.4,3.3,5.5,7.3
3,LA QUIACA OBSERVATORIO,Humedad relativa (%),62.6,63.2,60.3,46,32.6,27.4,25.7,26.7,32.1,42.4,48.6,55.8
4,LA QUIACA OBSERVATORIO,Velocidad del Viento (km/h) (2011-2020),6.5,6.8,6.7,5.5,4.8,5.5,5.9,6.7,7.9,7.9,7.7,7.1

La forma de la tabla podría no ser provechosa. Se procede a editarla en forma vertical.

In [17]:
estad_norm_1991_2020['Estación'].unique()

array(['LA QUIACA OBSERVATORIO', 'ORÁN AERO*', 'TARTAGAL AERO',
       'JUJUY AERO', 'JUJUY U N', 'SALTA AERO', 'LAS LOMITAS',
       'IGUAZÚ AERO', 'TUCUMÁN AERO', 'SANTIAGO DEL ESTERO AERO',
       'PRESIDENCIA ROQUE SAENZ PEÑA AERO*', 'RESISTENCIA AERO',
       'FORMOSA AERO', 'BERNARDO DE IRIGOYEN AERO', 'CORRIENTES AERO',
       'POSADAS AERO', 'OBERÁ', 'TINOGASTA', 'CHILECITO AERO',
       'LA RIOJA AERO', 'CATAMARCA AERO', 'VILLA DE MARÍA DEL RÍO SECO',
       'CERES AERO', 'RECONQUISTA AERO', 'PASO DE LOS LIBRES AERO',
       'JACHAL', 'SAN JUAN AERO', 'CHAMICAL AERO', 'VILLA DOLORES AERO',
       'CÓRDOBA AERO', 'CÓRDOBA OBSERVATORIO', 'PILAR OBSERVATORIO',
       'SAUCE VIEJO AERO', 'PARANÁ AERO', 'MONTE CASEROS AERO',
       'CONCORDIA AERO', 'SAN MARTÍN (MZA)', 'MENDOZA AERO',
       'MENDOZA OBSERVATORIO', 'SAN LUIS AERO', 'VILLA REYNOLDS AERO',
       'RÍO CUARTO AERO', 'MARCOS JUÁREZ AERO', 'VENADO TUERTO AERO',
       'EL TRÉBOL', 'ROSARIO AERO', 'GUALEGUAYCHÚ AERO', 'MALARGÜE AERO',
       'SAN RAFAEL AERO', 'GENERAL PICO AERO', 'LABOULAYE AERO',
       'PEHUAJÓ AERO', 'JUNÍN AERO', 'NUEVE DE JULIO',
       'SAN FERNANDO AERO*', 'LAS FLORES', 'SAN MIGUEL*',
       'EL PALOMAR AERO', 'EZEIZA AERO', 'AEROPARQUE AERO',
       'BUENOS AIRES OBSERVATORIO', 'LA PLATA AERO', 'PUNTA INDIO B.A.',
       'SANTA ROSA AERO', 'CORONEL SUÁREZ AERO', 'BOLÍVAR AERO',
       'AZUL AERO*', 'OLAVARRÍA AERO', 'TANDIL AERO', 'DOLORES AERO',
       'PIGÜÉ AERO', 'CORONEL PRINGLES AERO*', 'TRES ARROYOS',
       'MAR DEL PLATA AERO', 'NEUQUÉN AERO', 'BAHÍA BLANCA AERO',
       'BARILOCHE AERO', 'MAQUINCHAO', 'SAN ANTONIO OESTE AERO',
       'VIEDMA AERO', 'EL BOLSÓN AERO*', 'ESQUEL AERO', 'TRELEW AERO',
       'PERITO MORENO AERO', 'COMODORO RIVADAVIA AERO',
       'GOBERNADOR GREGORES AERO*', 'PUERTO DESEADO AERO',
       'EL CALAFATE AERO*', 'SAN JULIÁN AERO', 'RÍO GALLEGOS AERO',
       'RÍO GRANDE B.A.', 'USHUAIA AERO*', 'BASE ESPERANZA',
       'BASE ORCADAS', 'BASE BELGRANO II', 'BASE CARLINI (EX JÚBANY)',
       'BASE MARAMBIO', 'BASE SAN MARTÍN'], dtype=object)

Se eligen estaciones representativas en ambos datasets, para hacer futuros análisis enfocalizados en ellas.

In [19]:
data_est_eleg_1991_2020 = estad_norm_1991_2020[estad_norm_1991_2020['Estación'].isin(['SALTA AERO', 'IGUAZÚ AERO', 'MENDOZA AERO', 'ROSARIO AERO', 
                                                                                      'AEROPARQUE AERO', 
                                                                                      'BARILOCHE AERO', 'BASE ESPERANZA'])]

In [20]:
estac_eleg_smn = estaciones_smn[estaciones_smn['NOMBRE'].isin(['SALTA AERO', 'IGUAZU AERO', 'MENDOZA AERO', 'ROSARIO AERO', 
                                                                                      'AEROPARQUE AERO', 
                                                                                      'BARILOCHE AERO', 'BASE ESPERANZA'])]

Se arman datasets más pequeños para su normalización en formato vertical.

In [22]:
raw_data_salta = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'SALTA AERO']
raw_data_iguazu = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'IGUAZÚ AERO']
raw_data_mza = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'MENDOZA AERO']
raw_data_ros = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'ROSARIO AERO']
raw_data_aeroparq = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'AEROPARQUE AERO']
raw_data_barilo = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'BARILOCHE AERO']
raw_data_base_esp = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'BASE ESPERANZA']

In [23]:
# Columnas meses -- se van a usar en todos los sub-datasets
meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']

# Se transforman los meses en filas
df_pivot_salta = raw_data_salta.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

# De "Valor Medio de" a las columnas
df_final_salta = df_pivot_salta.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_salta.columns.name = None # Se elimina el nombre de la columna del índice

In [24]:
df_pivot_iguazu = raw_data_iguazu.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_iguazu = df_pivot_iguazu.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_iguazu.columns.name = None

In [25]:
raw_data_mza.replace('S/D', np.nan, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_14060\3694734285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data_mza.replace('S/D', np.nan, inplace=True)

In [26]:
df_pivot_mza = raw_data_mza.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_mza = df_pivot_mza.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_mza.columns.name = None

In [27]:
df_pivot_ros = raw_data_ros.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_ros = df_pivot_ros.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_ros.columns.name = None

In [28]:
df_pivot_ap = raw_data_aeroparq.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_aeropar = df_pivot_ap.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_aeropar.columns.name = None

In [29]:
df_pivot_barilo = raw_data_barilo.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_barilo = df_pivot_barilo.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_barilo.columns.name = None

In [30]:
raw_data_base_esp.replace('S/D', np.nan, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_14060\1868223477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data_base_esp.replace('S/D', np.nan, inplace=True)

In [31]:
df_pivot_base_esp = raw_data_base_esp.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_base_esp = df_pivot_base_esp.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_base_esp.columns.name = None

Se hace concat con los "subdatasets" armados.

In [72]:
data_climas_selec = pd.concat([df_final_salta, df_final_iguazu, df_final_mza, df_final_ros, df_final_aeropar, df_final_barilo, df_final_base_esp], ignore_index=True)

In [74]:
data_climas_selec

,Estación,Mes,Frecuencia de días con Precipitación superior a 1.0 mm,Humedad relativa (%),Nubosidad total (octavos),Precipitación (mm),Temperatura (°C),Temperatura máxima (°C),Temperatura mínima (°C),Velocidad del Viento (km/h) (2011-2020)
0,SALTA AERO,Abr,4.4,82.3,5.4,42.1,16.8,22.9,12.2,6.0
1,SALTA AERO,Ago,0.7,60.4,2.9,2.3,12.8,22.7,4.8,6.9
2,SALTA AERO,Dic,10.1,71.5,5.3,138.4,21.7,28.4,16.0,7.6
3,SALTA AERO,Ene,12.4,77.2,5.8,197.1,21.5,27.7,16.8,6.8
4,SALTA AERO,Feb,11.2,80.6,5.8,147.3,20.6,26.5,16.1,6.4
...,...,...,...,...,...,...,...,...,...,...
79,BASE ESPERANZA,Mar,NaN,NaN,5.9,NaN,-2.0,1.4,-5.2,NaN
80,BASE ESPERANZA,May,NaN,NaN,5.4,NaN,-7.4,-3.2,-11.2,NaN
81,BASE ESPERANZA,Nov,NaN,NaN,6.0,NaN,-0.9,2.3,-3.9,NaN
82,BASE ESPERANZA,Oct,NaN,NaN,5.8,NaN,-4.1,-0.2,-7.8,NaN
83,BASE ESPERANZA,Sep,NaN,NaN,5.5,NaN,-6.9,-2.6,-10.9,NaN

Se procede a normalizar datos en columnas y los nombres de estas.

In [90]:
data_climas_selec.rename(columns={'Estación': 'estacion', 
                                  'Mes': 'mes',
                                  'Frecuencia de días con Precipitación superior a 1.0 mm': 'frec_dias_precipi_sup_1mm',
                                  'Humedad relativa (%)': 'humedad_relac',
                                  'Nubosidad total (octavos)':'nubosidad_octas',
                                  'Precipitación (mm)':'precipi_mm',
                                  'Temperatura (°C)':'temperat_c',
                                  'Temperatura máxima (°C)':'temperat_max_c',
                                  'Temperatura mínima (°C)':'temperat_min_c',
                                  'Velocidad del Viento (km/h) (2011-2020)':'veloc_kmh_viento_2011_2020'
                                 }, inplace=True)

In [118]:
data_climas_selec['estacion'] = data_climas_selec['estacion'].astype('string')

In [124]:
data_climas_selec['mes'] = data_climas_selec['mes'].astype('string')

In [130]:
data_climas_selec['frec_dias_precipi_sup_1mm'] = data_climas_selec['frec_dias_precipi_sup_1mm'].astype('float')

In [142]:
data_climas_selec['humedad_relac'] = data_climas_selec['humedad_relac'].astype('float')

In [148]:
data_climas_selec['nubosidad_octas'] = data_climas_selec['nubosidad_octas'].astype('float')

In [154]:
data_climas_selec['precipi_mm'] = data_climas_selec['precipi_mm'].astype('float')

In [160]:
data_climas_selec['temperat_c'] = data_climas_selec['temperat_c'].astype('float')

In [164]:
data_climas_selec['temperat_max_c'] = data_climas_selec['temperat_max_c'].astype('float')

In [170]:
data_climas_selec['temperat_min_c'] = data_climas_selec['temperat_min_c'].astype('float')

In [176]:
data_climas_selec['veloc_kmh_viento_2011_2020'] = data_climas_selec['veloc_kmh_viento_2011_2020'].astype('float')

Ya que los datos ya están normalizados, se continúa con declarar estacion y mes como indexes para facilitar futuros análisis.

In [182]:
data_climas_selec.set_index(['estacion', 'mes'], inplace=True)

In [186]:
data_climas_selec

                    frec_dias_precipi_sup_1mm  humedad_relac  nubosidad_octas  \
estacion       mes
SALTA AERO     Abr                        4.4           82.3              5.4
               Ago                        0.7           60.4              2.9
               Dic                       10.1           71.5              5.3
               Ene                       12.4           77.2              5.8
               Feb                       11.2           80.6              5.8
...                                       ...            ...              ...
BASE ESPERANZA Mar                        NaN            NaN              5.9
               May                        NaN            NaN              5.4
               Nov                        NaN            NaN              6.0
               Oct                        NaN            NaN              5.8
               Sep                        NaN            NaN              5.5

                    precipi_mm  temperat_c  temperat_max_c  temperat_min_c  \
estacion       mes
SALTA AERO     Abr        42.1        16.8            22.9            12.2
               Ago         2.3        12.8            22.7             4.8
               Dic       138.4        21.7            28.4            16.0
               Ene       197.1        21.5            27.7            16.8
               Feb       147.3        20.6            26.5            16.1
...                        ...         ...             ...             ...
BASE ESPERANZA Mar         NaN        -2.0             1.4            -5.2
               May         NaN        -7.4            -3.2           -11.2
               Nov         NaN        -0.9             2.3            -3.9
               Oct         NaN        -4.1            -0.2            -7.8
               Sep         NaN        -6.9            -2.6           -10.9

                    veloc_kmh_viento_2011_2020
estacion       mes
SALTA AERO     Abr                         6.0
               Ago                         6.9
               Dic                         7.6
               Ene                         6.8
               Feb                         6.4
...                                        ...
BASE ESPERANZA Mar                         NaN
               May                         NaN
               Nov                         NaN
               Oct                         NaN
               Sep                         NaN

[84 rows x 8 columns]

In [191]:
# Se verifica que las combinaciones de index están bien y no hay duplicados
data_climas_selec.index.is_unique

True

Se chequean los datos nulos.

In [180]:
data_climas_selec.isna().sum()

estacion                       0
mes                            0
frec_dias_precipi_sup_1mm     12
humedad_relac                  9
nubosidad_octas                0
precipi_mm                    12
temperat_c                     0
temperat_max_c                 0
temperat_min_c                 0
veloc_kmh_viento_2011_2020    24
dtype: int64

In [203]:
data_climas_selec[data_climas_selec['veloc_kmh_viento_2011_2020'].isna()]

                    frec_dias_precipi_sup_1mm  humedad_relac  nubosidad_octas  \
estacion       mes
MENDOZA AERO   Abr                        2.4           64.6              3.2
               Ago                        1.3           53.2              2.7
               Dic                        3.2           43.8              2.9
               Ene                        4.5           48.4              3.3
               Feb                        4.0           53.8              3.3
               Jul                        1.3           62.1              3.0
               Jun                        1.0           66.9              3.2
               Mar                        3.4           59.7              3.2
               May                        2.0           69.1              3.7
               Nov                        3.0           43.5              2.9
               Oct                        2.0           45.3              3.0
               Sep                        2.1           48.3              3.0
BASE ESPERANZA Abr                        NaN            NaN              5.7
               Ago                        NaN            NaN              5.3
               Dic                        NaN           79.4              6.0
               Ene                        NaN           80.1              6.3
               Feb                        NaN           79.5              6.0
               Jul                        NaN            NaN              5.1
               Jun                        NaN            NaN              5.3
               Mar                        NaN            NaN              5.9
               May                        NaN            NaN              5.4
               Nov                        NaN            NaN              6.0
               Oct                        NaN            NaN              5.8
               Sep                        NaN            NaN              5.5

                    precipi_mm  temperat_c  temperat_max_c  temperat_min_c  \
estacion       mes
MENDOZA AERO   Abr        18.5        16.5            23.3            10.8
               Ago         7.9        10.8            18.6             4.3
               Dic        24.7        25.1            32.0            18.1
               Ene        47.2        25.9            32.8            19.3
               Feb        40.8        24.1            31.0            17.8
               Jul         5.0         7.9            15.3             2.0
               Jun         5.7         8.7            15.9             2.9
               Mar        31.6        21.5            28.1            15.7
               May        11.0        12.1            18.7             6.8
               Nov        22.1        22.3            29.2            15.4
               Oct        11.2        18.7            25.7            11.9
               Sep        12.3        14.5            21.8             7.8
BASE ESPERANZA Abr         NaN        -5.5            -1.7            -8.9
               Ago         NaN        -9.5            -5.1           -13.7
               Dic         NaN         0.8             3.8            -1.8
               Ene         NaN         1.5             4.3            -1.2
               Feb         NaN         0.9             3.9            -2.0
               Jul         NaN       -10.8            -6.4           -15.0
               Jun         NaN       -10.4            -6.2           -14.1
               Mar         NaN        -2.0             1.4            -5.2
               May         NaN        -7.4            -3.2           -11.2
               Nov         NaN        -0.9             2.3            -3.9
               Oct         NaN        -4.1            -0.2            -7.8
               Sep         NaN        -6.9            -2.6           -10.9

                    veloc_kmh_viento_2011_2020
estacion       mes
MENDOZA AERO   Abr                         NaN
               Ago                         NaN
               Dic                         NaN
               Ene                         NaN
               Feb                         NaN
               Jul                         NaN
               Jun                         NaN
               Mar                         NaN
               May                         NaN
               Nov                         NaN
               Oct                         NaN
               Sep                         NaN
BASE ESPERANZA Abr                         NaN
               Ago                         NaN
               Dic                         NaN
               Ene                         NaN
               Feb                         NaN
               Jul                         NaN
               Jun                         NaN
               Mar                         NaN
               May                         NaN
               Nov                         NaN
               Oct                         NaN
               Sep                         NaN

Los datos nulos son típicos en los casos de estaciones que no registran muchas precipitaciones, como la de Mendoza y la Antártida. No se registran las razones por las que no están los registros sobre la velocidad del viento en Base Esperanza entre 2011 y 2020 pero se tendrá en cuenta para futuros análisis.